* {
    margin: 0;
    padding: 0;
}

.half-container {
    max-width: 90%;
}

body {
    background-color: #FFE5E5;
    font-family: 'Rubik', sans-serif;
}


.work-area {
    max-width: 1400px;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}

.work-area__left-block {
    background-color: aliceblue;
    display: flex;
    width: 43vw;
    height: calc(100% - 8vh);
    flex-direction: column;
    box-shadow: 9px 2px 17px -8px rgba(0, 0, 0, 0.44);

    @media (max-width: 1024px) {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
    }
}

.work-area__left-block_mrgn {
    margin-top: 8vh;

    @media (max-width: 1024px) {
        margin-top: 0;
    }
}

.work-area__active {
    height: inherit;

    @media (max-width: 1024px) {
        margin-bottom: 2vh;
    }

}

.work-area__top {
    background-image: url(img/top_adv/Background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 44vh;

    @media (max-width: 1024px) {
        height: max-content;
        width: 100%;
    }
}

.work-area__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.work-area__header_padding {
    margin-bottom: 24px;
}

.work-area__header_mrgn {
    margin-top: 2vh;
}

.work-area__search-input {
    border: none;
    background-color: aliceblue;
    padding: 5px 0px 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;

    @media (max-width: 425px) {
        width: 52vw;
    }

}

.work-area__grope-logos {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: stretch;
}

.work-area__line-menu {
    height: 20px;
    width: 2px;
    background-color: #ffff;
}

.hiddenMenu {
    position: absolute;
    width: 25vw;
    height: 14vh;
    top: 31px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.hiddenMenu>ul {
    background-color: #ffff;
    position: absolute;
    top: 17px;
    list-style-type: none;
    font-size: calc(12px + 4 * (100vw / 1600));
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;
    height: 75%;
    box-shadow: 3px 7px #00000066;
    border-radius: 20px;
}

.hiddenMenu>ul>li {
    font-weight: 500;
    text-align: right;
    cursor: pointer;
}

.hiddenMenu>ul :hover {
    color: #ff4948;
}



.work-area__main-logo {
    max-width: 45px;
}

.work-area__parent-menu {
    position: relative;
}

.work-area__hamb-menu {
    max-width: 27px;
}

.work-area__menu-cover {
    position: absolute;
    width: 29px;
    height: 24px;
    top: -1px;
}

.work-area__logo-ellips {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-area__loupe-logo {
    position: absolute;
    z-index: 10;
}

.work-area__ellips {
    position: absolute;
    height: 4.5vh;
    min-height: 36px;
}

.work-area__top-adv-block {
    display: flex;
    flex-direction: row;
    height: 31vh;

    @media (max-width: 1024px) {
        height: min-content;
    }
}

.work-area__top-prod {
    object-fit: contain;
    width: 50%;

    /* @media (max-width: 1024px) {
        width: 40vw;
    } */
}

.work-area__top-discript {
    max-width: 45%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.work-area__first-sent {
    color: rgba(255, 255, 255, 0.751);
    font-weight: 500;
    font-size: 12px;
}

.work-area__sec-sent {
    font-weight: 700;
    font-size: 30px;
    color: white;

    @media (max-width: 1024px) {
        font-size: calc(18px + 30 * (100vw / 1024));
    }
}

.work-area__prices {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.work-area__price-new {
    color: white;
    font-weight: 700;
    font-size: 22px;

    @media (max-width: 1024px) {
        font-size: calc(8px + 30 * (100vw / 1024));
    }
}


.work-area__price-old {
    text-decoration: line-through;
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.604);

    @media (max-width: 1024px) {
        font-size: calc(8px + 20 * (100vw / 1024));
    }
}


.work-area__buy-btn {
    background-color: white;
    color: rgba(255, 73, 72, 1);
    font-weight: 500;
    font-size: 14px;
    border: 0px;
    border-radius: 30px;
    padding: 14px 32px;

    @media (max-width: 1024px) {
        padding: 7px 23px;
    }

}

.work-area__buy-btn_mrgn {
    margin-top: 20px;
}

.work-area__right-block {
    background-color: aliceblue;
    width: 38vw;
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
        width: 100vw;
    }

    @media (max-width: 768px) {
        @media (max-height: 425px) {
            margin-top: 80px;
        }
    }
}

.work-area__container-right {
    padding-left: 10px;
    padding-right: 10px;
}

.work-area__top-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
    }
}

.work-area__box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-area__feature-ellips {
    position: relative;
    height: 6.5vh;
}

.work-area__feature-img {
    position: absolute;

}

.work-area__feature-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1024px) {
        justify-content: flex-start;
    }
}

.work-area__header-feature {
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
        font-size: calc(16px + 28 * (100vw / 1024));

        @media (min-height: 425px) {}
    }

    @media (max-width: 320px) {
        text-align: center;
    }
}

.work-area__list-features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 265px;
}

.work-area__featured-prod {
    max-width: 130px;
    object-fit: contain;
    margin-right: 40px;

    @media (max-width: 1024px) {
        max-width: 33vw;
    }

    @media (max-width: 320px) {
        margin-top: 131px;
    }
}

.work-area__featured-prod_mrgn {
    margin-left: 50px;

    @media (max-width: 1024px) {
        margin-left: 7vw;
    }

    @media (max-width: 320px) {
        margin-top: 30px;
    }
}

.work-area__feature-full-discr {
    margin-left: 20px;
}

.work-area__feature-name {
    font-weight: 500;
    font-size: 14px;

    @media (max-width: 1024px) {
        font-size: calc(11px + 20 * (100vw / 1024));
    }
}

.work-area__feature-dicript {
    font-weight: 400;
    font-size: 12px;
    color: rgba(24, 2, 2, 1);
    margin-top: 5px;
    margin-bottom: 10px;

    @media (max-width: 1024px) {
        font-size: calc(10px + 6 * (100vw / 1024));
    }
}

.work-area__learn-more {
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 73, 72, 1);

    @media (max-width: 1024px) {
        font-size: calc(10px + 6 * (100vw / 1024));
    }
}

.work-area__choice-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 18vh;

    @media (max-width: 1024px) {
        height: 53vh;

        @media (min-height: 320px) {
            height: 350px;
        }

        @media (min-height: 450px) {
            height: 360px;
        }

        @media (min-height: 1000px) {
            height: 420px;
        }
    }

    @media (max-width: 768px) {
        height: 34vh;

        @media (min-height: 320px) {
            height: 256px;
        }

        @media (min-height: 600px) {
            height: 270px;
        }

        @media (min-height: 768px) {
            height: 239px;
        }

        @media (min-height: 1000px) {
            height: 31vh;
        }
    }

    @media (max-width: 425px) {
        flex-direction: column;
        height: 74vh;
        align-items: unset;

        @media (min-height: 320px) {
            height: 615px;
        }
    }
}

.work-area__prod-chice-img {
    object-fit: contain;
    width: 8vw;
    position: absolute;

    &:nth-child(2) {
        width: 13vw;
        max-width: 45%;
        z-index: 10;
        left: 8.5vw;

        @media (max-width: 1024px) {
            width: 40vw;
            left: 20vw;
            max-width: unset;
        }

        @media (max-width: 425px) {
            width: 30vh;
            max-width: 100%;
            left: unset;
            width: 80%;

            @media (min-height: 320px) {
                width: 65%;
                top: 170px;
            }

            /*             @media (min-height: 425px) {
                top: 39.5vh;
            } */
        }
    }

    &:nth-child(1) {
        left: 0;

        @media (max-width: 1024px) {
            width: 29vw;
        }

        @media (max-width: 425px) {
            left: unset;
            top: 6vh;
            width: 20vh;
            width: 60%;

            @media (min-height: 320px) {
                width: 50%;
                top: unset;
            }


        }
    }

    &:nth-child(3) {
        right: 0;

        @media (max-width: 1024px) {
            width: 29vw;
        }

        @media (max-width: 425px) {
            right: unset;
            bottom: 6vh;
            width: 20vh;
            width: 60%;

            @media (min-height: 320px) {
                width: 50%;
                top: 390px;
                bottom: unset;
            }
        }
    }


    @media (max-width: 1024px) {
        width: 23vw;
    }
}

.work-area__choice-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 30vw;
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
        width: 80%;
    }

    @media (max-width: 425px) {
        align-self: center;
        align-items: center;
        flex-direction: column;

        @media (min-height: 320px) {
            height: 558px;
        }

        /*         @media (min-height: 425px) {
            height: 129vh;
        } */
    }

}

.work-area__arrow-right {
    transform: rotate(180deg);

    @media (max-width: 425px) {
        transform: rotate(270deg)
    }
}

.work-area__arrow-left {
    @media (max-width: 425px) {
        transform: rotate(90deg)
    }
}

.work-area__bottom {
    height: 46vh;

    @media (max-width: 1024px) {
        height: 112vh;

        @media (min-height: 320px) {
            height: 610px;
        }

        @media (min-height: 450px) {
            height: 585px;
        }

        @media (min-height: 600px) {
            height: 620px;
        }

        @media (min-height: 768px) {
            height: 630px;
        }

        @media (min-height: 1000px) {
            height: 650px;
        }
    }

    @media (max-width: 768px) {
        @media (min-height: 320px) {
            height: 365px;
        }

        @media (min-height: 425px) {
            height: 540px;
        }
    }

    @media (max-width: 425px) {

        @media (min-height: 320px) {
            height: 740px;
        }

        /* @media (min-height: 425px) {
            height: 168vh;
        } */
    }
}

.work-area__bottom-header {
    font-weight: 700;
    font-size: 22px;
    text-align: center;

    @media (max-width: 1024px) {
        font-size: calc(16px + 28 * (100vw / 1024));
    }
}

.work-area__bottom-header_mrgn {
    margin: 10vh 0 3vh;

    @media (max-width: 1024px) {
        margin: 10vh 0 7vh;

        @media (min-height: 1000px) {
            margin-bottom: 0vh;
        }
    }

    @media (max-width: 425px) {
        margin: 5vh 0 2vh;
    }
}

.work-area__arrow {
    max-width: 12px;
}

.work-area__arrow_right {
    position: absolute;
    right: 3vw;

    @media (max-width: 425px) {
        left: 50vw;
        bottom: 0;
    }
}

.work-area__arrow_left {
    position: absolute;
    left: 3vw;

    @media (max-width: 425px) {
        left: 50vw;
        top: 0;
    }
}

.work-area__arrow-left,
.work-area__arrow-right {
    object-fit: contain;
    max-width: 100%;

    @media (max-width: 1024px) {
        max-width: unset;
    }
}

.work-area__right-mid {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
        margin-top: 60px;
        margin-bottom: 40px;
    }
}

.work-area__right-mid-header {
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    @media (max-width: 1024px) {
        font-size: calc(16px + 28 * (100vw / 1024));
    }
}

.work-area__right-mid-pre-head {
    color: rgba(24, 2, 2, 1);
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    max-width: 400px;
    margin-top: 20px;

    @media (max-width: 1024px) {
        font-size: calc(7px + 7 * (100vw / 1024));
    }
}

.work-area__new-prod-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 6vh;

    @media (max-width: 425px) {
        flex-direction: column;
        justify-content: space-around;
        height: 640px;
    }
}

.work-area__one-prod-box {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.work-area__prod-image {
    position: absolute;
    z-index: 10;
    max-width: 60%;
    top: 0;
    left: 20px;

    @media (min-width: 1232px) {
        top: -5px;
        max-width: 96px;
    }

    @media (max-width: 1024px) {
        max-width: 15vw;
    }

    @media (max-width: 425px) {
        max-width: 92px;
    }
}

.work-area__back-prod {
    position: relative;
    max-width: 130px;

    @media (max-width: 1024px) {
        max-width: 21vw;
    }

    @media (max-width: 425px) {
        max-width: 130px;
    }
}

.work-area__bask-round {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -10px;
    right: 57px;

    @media (max-width: 425px) {
        right: 35px;
    }
}

.work-area__bask-icon {
    z-index: 10;
    position: absolute;
    height: 2vh;
    min-height: 21px;
}

.work-area__round {
    position: relative;
    width: 4vh;
    min-width: 30px;
}

.work-area__price-rait-box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 1vh;
    padding-left: 2vw;
    grid-template-areas:
        "raiting raiting"
        "name price";
}

.work-area__mid-prod-name {
    font-size: 13px;
    font-weight: 400;
    color: rgba(24, 2, 2, 1);
    grid-area: name;

    @media (max-width: 1024px) {
        font-size: calc(8px + 14 * (90vw / 1024));
    }
}

.work-area__raiting-num {
    font-size: 11px;
}








.work-area__raiting {
    display: flex;
    grid-area: raiting;
}

.work-area__raiting-body {
    position: relative;
}

.work-area__raiting-body::before {
    content: "★★★★★";
    display: block;
}

.work-area__raiting-active {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.work-area__raiting-active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(236, 236, 84);
}

.work-area__raiting-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.work-area__raiting-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}






.work-area__mid-price {
    font-size: 12px;
    font-weight: 500;
    font-size: 11px;
    grid-area: price;

    @media (max-width: 1024px) {
        font-size: calc(8px + 5 * (90vw / 1024));
        padding-left: 10px;
    }
}

footer {
    background-color: #FF4948;
    height: 9vh;
    min-height: 55px;
    margin-top: auto;
    display: grid;
}

.work-area__main-logo-bottom {
    @media (max-width: 425px) {
        display: none;
    }
}

.work-area__foot-full {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-area__links {
    display: flex;
    justify-content: space-between;
    min-width: 158px;
}

.work-area__link {
    color: white;
    font-size: 13px;
}